.sidebarChannel:hover > h4 {
    color: white;
    background-color: #40464b;
}
.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f2f2f;
    color: grey;
    cursor: pointer;
}

.sidebarChannel__hash {
    font-size: 25px;
    padding: 5px;
}

 .sidebar__voice {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: grey;
     background-color: #2f2f2f;
     padding: 10px;
     border-top: 1pz solid grey; 
 }

 .sidebar__voiceInfo {
     flex: 1;
     padding: 10px;
 }

 .sidebar__voiceInfo > h3{
    color: #4fb185;;
}
.sidebar__voiceIcon{
    color: #4fb185;;
}
.sidebar__voiceInfo > p {
    font-size: smaller;
}
.sidebar__voiceIcons> .MuiSvgIcon-root{
    padding: 10px;
}